

/* cursor disabled desactive tout les events */
.cursor-disabled{
  pointer-events: none;
}

.cursor-default{
  cursor:default;
}

.cursor-auto{
  cursor:auto;
}

.cursor-help{
  cursor:help;
}

.cursor-move{
  cursor:move;
}

.cursor-pointer{
  cursor:pointer;
}

.cursor-progress{
  cursor:progress;
}

.cursor-text{
  cursor:text;
}
.cursor-wait{
  cursor:wait;
}

.cursor-notallowed{
  cursor:not-allowed;
}

.cursor-nodrop{
  cursor:no-drop;
}

