

/* DISPLAY */
.display-block{
  display:block;
}

.display-inline{
	display:inline;
}

.display-inline-block{
	display:inline-block;
}

.display-none{
	display:none;
}

.display-flex{
	display:flex;
}

.display-flex-column{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.display-flex-column-space-between{   
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.display-flex-row{    
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
  }
/* TABLE */

.self-center {
  align-self: center;
}

.align-middle{
  vertical-align: middle;
}

.flex-end{
  justify-content: flex-end;
}

/* HIDDEN */

.hidden{
  display:none !important;
}

.hidden-fade{
  opacity:0 !important;
  transition: opacity .8s;
}

