

@keyframes failingShine {
    0%   {
    	background: rgba(217, 43, 76, .5);
    	/*transform: scale(1, 1);*/
    }
    100%  {
    	background: #D92B4C;
    	/*transform: scale(1.1, 1.1);*/
    }
}
.failed-input{
	animation: .2s failingShine alternate;
	animation-iteration-count: 3;
	font-weight: 700;
}