@font-face {
    font-family: "Harabara";
    src: url('../../font/Harabara.otf');
}

@font-face {
    font-family: "Roboto";
    src: url('../../font/Roboto-Regular.ttf');
}

.font-principal{
	font-family: Roboto !important;
}