.header-title{
	color:#ffffff;
	text-transform: uppercase;
	font-size:45px;
	margin-right:55px;
	padding:15px 30px;
	cursor:default;
	text-align: center;
}

.header-scroll-down{
	width:120px;
	position:absolute;
	cursor:pointer;
	z-index:9;
	opacity:.4;
}

.header-scroll-down:hover{
	transition:opacity .5s;
	opacity:1;
}