

/* a appliquer sur les btns quand tu wrap un icone */
.icon{
	vertical-align: middle;
}

.icon-wrapper:hover{
	border-radius: 3px;
}

/* Taille des icones */
.icon-size-1{
	width:5px;
}

.icon-size-1-demi{
	width:7.5px;
}

.icon-size-2{
	width:10px;
}

.icon-size-3{
	width:15px;
}

.icon-size-4{
	width:20px;
}