/*input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:24px;
    height:24px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(images/green-radio-sheet.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(images/green-radio-sheet.png) -47px top no-repeat;
}

input[type="checkbox"]:not(:checked):hover + label span{
    background:url(images/green-radio-sheet.png) -23px top no-repeat;
}

.checkbox-label{
	display:inline !important;
}*/