/* Navbar top (ajouté class="fixed" si vous la voulez fix)
.navbar {
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.navbar.full {
  height: 100px;
  line-height: 100px;
}


.navbar.shrink {
  height: 60px;
  line-height: 60px;
  background: transparent;
}

.navbar.shrink .navbar-logo img {
  height: 40px;
  width:40px;
}


.navbar-logo {
  float: left;
}

.navbar-logo img {
  vertical-align: middle;
}


.navbar-menu {
  overflow: hidden;
  text-align: right;
}

.navbar-menu a {
  text-decoration: none;
  font-size: 14px;
  color: #292929;
  padding: 0 15px;
}

.navbar-menu .active {
  text-decoration: underline;
}


@media only screen and (max-width: 768px) {
  
  .navbar-logo {
    margin-left: 20px;
  }

  
  .navbar-menu {
    display: none;
  }

  .navbar .navbar-ico-resp{
    position: relative;
    display:block;
    float:right;
    cursor:pointer;
    width: 45px;
    height: 60px;
  }

  .navbar .navbar-ico-resp:after {
    content: '';
    position: absolute;
    display: block;
    width: 1rem;
  }

  .navbar.full .navbar-ico-resp:after {
    height: 0;
    top: 35px;
    left: 25px;
    box-shadow: 0 10px 0 1px #292929, 0 16px 0 1px #292929, 0 22px 0 1px #292929;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
  }

  .navbar.shrink .navbar-ico-resp:after {
    height: 0;
    top: 15px;
    left: 15px;
    box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
  }

  .responsive.shrink .navbar-menu {
    display: block;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    text-align: center;
  }

  .navbar-ico-resp {
    overflow: hidden;
    margin-right: 20px;
  }
}*/

/* Navbar top theme 
.navbar.white{
  background-color:#fff;
}

.navbar.green{
  background-color:#3FA08F;
}*/

/* Fin Navbar top */

/* Navbar side 
.navbar-side {
  height:100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.navbar-side.full {
  width: 220px;
}


.navbar-side.shrink {
  width: 70px;
  background: transparent;
}

@media only screen and (max-width: 768px) {
  
  .responsive.shrink .navbar-side-menu {
    display: block;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    text-align: center;
  }
}*/

/* Navbar side theme 
.navbar-side.white{
  background-color:#fff;
}

.navbar-side.green{
  background-color:#3FA08F;
}*/

/* fin Navbar side 

ul.dropdown ul {
	display         : none;
	list-style-type : none;
}

ul.dropdown:after {
	content: ""; clear: both; display : block;
}

ul.dropdown li:hover > ul {
	display : block;
	z-index : 50;
}

ul.dropdown {
	position   : relative;
	display    : inline-table;

	width      : auto;
	padding    : 0;

	background : #C0C1C1;
	list-style : none;

	
}

ul.dropdown li {
	float : left;
}

ul.dropdown li:hover {
	background : #3FA08F;
}

ul.dropdown li:hover a {
	color : #fff;
}

ul.dropdown li a {
	display         : block;

	padding         : 10px 25px 10px 25px;

	color           : #757575;
	text-decoration : none;
}

ul.dropdown ul {
	position      : absolute;
	top           : 100%;

	padding       : 0;

	background    : #A3CDC6;
	border-radius : 0px;
}

ul.dropdown ul li {
	position : relative;
	float    : none;
}

ul.dropdown ul li a {
	padding : 10px 25px 10px 25px;
	color   : #fff;
}

ul.dropdown ul li a:hover {
	background : #3FA08F;
}

ul.dropdown ul ul {
	position : absolute;
	top      : 0;
	left     : 100%;
}*/