/* Navbar top (ajouté class="fixed" si vous la voulez fix)*/
.navbar {
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.navbar.full {
  height: 105px;
}

.navbar.full li{
  line-height: 65px;
}


.navbar.shrink {
  height: 60px;
  background: transparent;
}

.navbar.shrink .navbar-menu span{
  display:none;
}

.navbar.shrink .navbar-logo img {
  width:70px;
}

.navbar-logo img {
  vertical-align: middle;
}

.navbar-menu ul{
  list-style: none;
}

.navbar-menu li{
  display:inline;
}

.navbar-title{
  font-size:25px;
}

.navbar-menu {
  overflow: hidden;
  text-align:center;
}

.navbar-menu a {
  text-decoration: none;
  font-size: 13px;
  color:#ffffff;
  padding: 0 15px;
  text-transform:uppercase;
  position:relative;
  font-family: "Roboto" !important;
}

.navbar-menu span{
  text-transform:lowercase;
  position:absolute;
  bottom:-40px;
  left:15px;
  opacity:0.4;
}

.navbar-icon{
  padding:0 5px 3px;
}

.navbar-menu li:hover span{
  opacity:1;
}

.navbar #navbar-toggle-logo{
  transition:all .5s;
}

.navbar.full #navbar-toggle-logo{
    margin-top:20px;
}

.navbar.shrink #navbar-toggle-logo{
    width:70px;
    margin-top:10px;
}

.navbar #navbar-toggle{
    float:right;
    padding-right:20px;
    transition:all;
    position:absolute;
    right:0;
    z-index:1000;
    transition:all .5s;
}

.navbar #navbar-toggle{
  cursor:pointer;
}

.navbar.full #navbar-toggle{
  width:30px;
  margin-top:40px;
}

.navbar.shrink #navbar-toggle{
  width:20px;
  margin-top:20px;
}

/* NAVBAR SIDE */

.navbar-side-menu{
  width:30%;
  background:#080325;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  max-width:400px;
  margin:0;
  padding:95px 30px 30px;
  overflow-y:auto;
  max-height:100%;
  border:none;
  transition:.3s padding-top ease,.5s transform ease;
  z-index:-1;
  color:#ffffff;
}

.navbar-collapse{
  display:block;
  transform:translateX(100%);
}

.navbar-side-menu a {
  text-decoration: none;
  font-size: 17px;
  color:#ffffff;
  padding: 0 15px;
  text-transform:uppercase;
  position:relative;
  font-family: "Roboto" !important;
}

.navbar-side-menu li{
  line-height:70px !important;
}

.navbar-side-menu span{
  text-transform:lowercase;
  position:absolute;
  bottom:-41px;
  left:15px;
  opacity:0.4;
}

.navbar-side-menu img{
  vertical-align: middle;
}

/* FIN NAVBAR SIDE */

@media only screen and (max-width: 768px) {
  
  .navbar-logo {
    margin-left: 20px;
  }

  .responsive.shrink .navbar-menu {
    display: block;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    text-align: center;
  }
}

/* Navbar top theme */
.navbar.full.transparent{
  background-color:rgba(8,3,37,.4);
}

.navbar.shrink.transparent{
  background-color:rgba(8,3,37,1);
}

/* Fin Navbar top */
