

/*select{
	height:33px;
	padding:6px 12px;
	font-size:13px;
	line-height:1.4;
	color:#292929;
	background-color:#fff;
	background-image: none;
	border:1px solid #ccc;
	border-radius: 4px;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent url("images/icon-down-g.png") no-repeat 70px center
}

select:focus{
	border:1px solid #3FA08F;
}*/


