

.text-center{
    text-align:center;
}

.text-left{
	text-align: left;
}

.underline:hover{
	text-decoration: underline;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

.font-bold{
    font-weight: 600;
}

.title{
	color:#ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-title{
	font-size:45px
}

.title-1{	
	font-size: 37px;
}
.title-2{	
	font-size: 28px;
}
.title-3{	
	font-size: 24px;
}
.title-4{
	font-size: 21px;
}
.title-5{
	font-size: 18px;
}
.title-6{
	font-size: 16px;
}
.title-7{
	font-size: 14px;
}

.winner-color{
	color:green;
}

.looser-color{
	color:red;
}

.red{
	color:red;
}

.green{
	color:green;
}

.pink{
	color:#d82a4b;
}