#background{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   /* background: url(../img/fail.gif) 50% no-repeat;*/
    background-size: contain;
    z-index: -1;
    opacity: 0.5;
    background-color:#211d3b;
}

#fail{
    width: 50%;
    text-align: center;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

h1{
    margin-top:30px;
	font-size: 70px;
}

h2{
	font-size: 25px;
}

a{
    margin: 25px 0;
    width: 30%;
    display: inline-block;
    line-height: 45px;
    background-color: #211d3b;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.img-fail {
    width:400px;
}

@media screen and (max-width: 1120px) {
    a{
        width: 30%;
    }

    h1{
        font-size:40px;
    }
}

@media screen and (max-width: 991px) {
    a{
        width: 90%;
    }

    h1{
        margin-top:-100px;
    }
}

@media screen and (max-width: 591px) {
    .img-fail{
        width:250px;
    }

    h1{
        font-size:19px;
    }
}
