/*
TOUT RENAME EN ADMIN 
*/

footer{
    display:none;
}

.admin-form-add{
    text-align:center;
}

.admin-table{
    position:relative;   
}

.configuration-wrapper:first-child{
    display:initial;
}

.configuration-wrapper{
    display:none;
}

.admin-table td{
    text-align:center;
	padding:15px;
}

.admin-table img{
    vertical-align: middle;
    border-radius:2px;
}

.admin-table.member img{
	width:50px;	
}

.admin-table.platform img{
    width:100px;
}

/* HEIGHT RESET*/

body, html{
    height:100%;
    min-height:100%;
    font-family:Roboto !important;
}

#content{
    height:100%;
    margin-top:0;
}

.configuration-onglet-wrapper{
    position:absolute;
    bottom:-1px;    
    left:15vw;
}

.configuration-input-default{

}

.configuration-avatar-wrapper{
    width:250px;
    height:250px; 
    padding:15px 0 20px 0;
}

.configuration-avatar{
    
}

.configuration-onglet-ul{
    transform:skew(-8deg);
}

.configuration-onglet-ul li{    
    background:rgba(130, 83, 164, 0.2);
    cursor:pointer;
    padding:15px 35px;
    display:inline-block;    
    transition: all .3s;
}

.configuration-input-required{
    color:#D92B4C;
    position:absolute;
}

.configuration-onglet-ul li:hover{
    background:#080325;
    transition:all .3s;
}

.configuration-onglet-ul li.active{
    opacity:1;
    background:#080325;
}

.admin-form-button-wrapper{
    position:absolute;
    width:100%;
    padding:0 !important;
    height:100%;
    top:0;
    left:0;
    z-index:100;
    display:none;
}

.configuration-form-table tr:hover .admin-form-button-wrapper{
    display:inline;
}

.admin-form-button{
    background: #ffffff;
    padding:15px 25px;
    margin:5px;
    transform: skew(-8deg);
    cursor:pointer;
}

.classement-content-wrapper{
  padding:35px;
}

.configuration-form-table{
    margin-bottom:15px;
    border:1px solid #524c7b; 
}

.configuration-form-table tr{
    position:relative;
    right:0;
}

.configuration-form-table td{
    padding:20px 25px;      
}

.configuration-form-table tr:hover{
 background:rgba(130, 83, 164, 0.1);
}

.configuration-form-table tr:first-child{
    background:none;
}

.configuration-form-table tr:first-child{
    border:1px solid #524c7b; 
}

.configuration-form-email div{
    padding:7px 0;
}

.configuration-form-submit{
    width:200px;
}

.configuration-form-td-submit{
    padding-top:25px !important;
}

.configuration-form-menu-tr{
    font-weight:600;
    font-size:16px;
}

.admin-header-title{
	margin-right:0 !important;
}

/* HEADER */

.bg-cover-configuration{
    /*background: linear-gradient(0deg, rgba(0,0,255,0.3), rgba(2,173,231,0.5)), url(../img/banner-bg.jpg) center top no-repeat;*/
    background: linear-gradient(0deg, rgba(22, 9, 98, 0.3), rgba(22, 9, 98, 0.6)), url(../img/bg-admin.jpg) center no-repeat;
    margin:0;    
    -webkit-background-size: cover; 
    background-size: cover;     
}

.configuration-header-profil-image{
    width:170px;
}

.configuration-header-profil-name{
    font-size:25px;
    text-transform: capitalize;
    font-weight: 600;
    padding:15px;
}

.configuration-header-profil-description, .configuration-header-profil-lastconnexion{
    font-size:13px;
    padding:15px;
    color:rgba(255,255,255,.5);
}

.configuration-header-profil-left{
    transform:skew(-8deg);
}

.configuration-header-profil-wrapper{
    position:relative;
}

.configuration-header-profil-right{
    position:absolute;
    right:-170px;
    width:100%;
    height:100%;
    top:0;
    background:rgba(8,3,37,.4);
}

.configuration-header-profil-right span{
    display:block;
}

.irhack{
    left:-15vwpx;
}