

BODY{
	background-color: #201B3A;
	color: white;
}
#content{
	margin: 50px auto;
    width: 80%;
}

section{
    vertical-align: top;
    display: inline-block;
    background-color: #343452;
    padding: 10px 0;
    position: relative;
    margin-top: 5%;
}
section div{
    border: 1px solid;
    display: inline-block;
    width: 100%;
    padding: 5% 0;
}
#avatar{
    width: 20%;
    height: 150px;
}
#informations{
    width: 70%;
    margin-left: 9%;
}
h4{
	text-align: center;
}
a{
    color: #B346FF;
    text-decoration: none;
    font-style: italic;
}
a:hover{
	text-decoration: underline;
	color: #04EAC1;
}

button{
	cursor: pointer;
}