

/* HEIGHT RESET*/

body, html{
    min-height:100%;
    font-family:Roboto !important;
}

#content{
    //height:100%;
    margin-top:0;
}

.success{
    color: green;
    font-weight: bold;
}

.error{
    color:red;
    font-weight: bold;
}

.configuration-onglet-wrapper{
    position:absolute;
    bottom:-1px;    
    left:15vw;
}

.configuration-textarea-description{
    height: 70px;
    vertical-align: middle;
}

.configuration-avatar-wrapper{
    width:250px;
    height:250px; 
    padding:15px 0 20px 0;
}

.configuration-team{
    width: 20%;
    vertical-align: middle;
}

.configuration-avatar{
    
}

.configuration-onglet-ul{
    transform:skew(-8deg);
}

.configuration-onglet-ul li{
    cursor:pointer;
    padding:15px 35px;
    display:inline-block;    
}

.configuration-input-required{
    color:#D92B4C;
}

.configuration-onglet-ul li:hover{
    background-color:rgba(255,255,255,.3);
    transition:.3s background-color;
}

.configuration-onglet-ul li.active{
    background:#080325;
}

.classement-content-wrapper{
  padding:35px;
}

.configuration-form-table{
    margin-bottom:15px;
}

.configuration-form-table td{
    padding:20px 25px;      
    border:1px solid #524c7b;  
}

.configuration-form-table td:first-child{
    width: 40%;
}

.configuration-form-email div{
    padding:7px 0;
}

.configuration-form-submit{
    width:200px;
}

.configuration-account-delete{
    width: 200px;
    margin-right: 50px;
    background: #D92B4C;
    border-color: #D92B4C; 
    transform: skew(-8deg);
}

.configuration-form-td-submit{
    padding-top:25px !important;
}

.configuration-form-menu-tr{
    font-weight:600;
    font-size:16px;
}

/* HEADER */

.bg-cover-configuration{
    /*background: linear-gradient(0deg, rgba(0,0,255,0.3), rgba(2,173,231,0.5)), url(../img/banner-bg.jpg) center top no-repeat;*/
    background: linear-gradient(0deg, rgba(22, 9, 98, 0.3), rgba(22, 9, 98, 0.6)), url(../img/profil.jpg) center top no-repeat;
    margin:0;
    padding:0;
    -webkit-background-size: cover; 
    background-size: cover;     
}

.configuration-header-profil-image{
    width:170px;
}

.configuration-header-profil-name{
    font-size:25px;
    font-weight: 600;
    padding:10px;
    text-align: center;
}

.configuration-header-profil-contain-desc{
    width: 100%;
    height: 100%;
}

.configuration-header-profil-name:first-letter {
    text-transform: uppercase;
}

.configuration-header-profil-description{
    height: 50%;
}

.configuration-header-profil-description, .configuration-header-profil-lastconnexion{
    font-size: 13px;
    padding: 5px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    word-wrap: break-word;
}

.configuration-header-profil-left{
    transform:skew(-8deg);
}

.configuration-header-profil-wrapper{
    position:relative;
}

.configuration-header-profil-right{
    position:absolute;
    right:-170px;
    width:100%;
    height:100%;
    top:0;
    background:rgba(8,3,37,.4);
}

.configuration-header-profil-right span{
    display:block;
}

.irhack{
    left:-15vwpx;
}