.bg-cover-creationtournoi{    
    background: linear-gradient(0deg, rgba(22, 9, 98, 0.7), rgba(255, 255, 255, 0.2)), url(../img/tournoi.jpg) center no-repeat;
    margin:0;    
    -webkit-background-size: cover; 
    background-size: cover;     
}

@-webkit-keyframes smoothTransform {
  from {
    transform: scale(0, 0);
  }

  to {
    transform: scale(1, 1);
  }
}
@keyframes smoothTransform {
  from {
    transform: scale(0, 0);
  }

  to {
    transform: scale(1, 1);
  }
}

@-webkit-keyframes smoothPopFromLeft {
  from {
    left: calc(-100%);
  }

  to {
    left: 0;
  }
}
@keyframes smoothPopFromLeft {
  from {
    left: calc(-100%);
  }

  to {
    left: 0;
  }
}

@-webkit-keyframes creationtournoi-smoothLight {
  from {
    background: rgba(255, 255, 255, 0);
  }

  to {
    background: rgba(255, 255, 255, .08);
  }
}
@keyframes creationtournoi-smoothLight {
  from {
    background: rgba(255, 255, 255, 0);
  }

  to {
    background: rgba(255, 255, 255, .08);
  }
}

.creationtournoi-title-container{
	margin-right:0;
}

.creationtournoi-active-choice{
	z-index: 2;
}
.navbar:hover{
 	/*background-color: rgba(0, 0, 0, 1)!important;*/
 }
/* ######### TREE MENU ######## */
.creationtournoi-tree-section{
	background: linear-gradient( to bottom, #191858, #080325);
}
.creationtournoi-tree-container{
	background: inherit;
	border-radius: 0px 0px 5px 5px;
}
.creationtournoi-tree-maxcontainer{
	max-width: 960px;
	width: 100%;
}
.creationtournoi-tree-el{
	height: 50px;
	width: 19.75%;
	border: 1px solid #ccc;
	border-top: none;
	border-bottom: none;
	cursor: default;
	transition: background .2s;
	z-index: 4;
}
.creationtournoi-tree-el:hover{
	background: rgba(8,3,37,1);
}
.creationtournoi-tree-el.active-step{
	background: rgba(8,3,37,.8);
}
.creationtournoi-tree-el.active-step:hover{
	background: rgba(8,3,37,1)
}
.creationtournoi-tree-el:first-of-type{
	/*border-radius: 0px 0px 0px 5px;*/
	border-left-width: 0;
}
.creationtournoi-tree-el:last-of-type{
	/*border-radius: 0px 0px 5px 0px;*/
	border-right-width: 0;
}

.creationtournoi-tree-el-choices-container{
	background: inherit;
	height: 0;
	font-size: 0;
	transition: height .2s, font-size 0s;
	z-index: 2;
	overflow: hidden;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.creationtournoi-tree-el:hover .creationtournoi-tree-el-choices-container{
	height: auto;
	font-size: 14px;
	overflow: default;
}
.tree-el-choice{
	line-height: 40px;
	cursor: pointer;
}
.tree-el-choice:hover{
	background: rgba(0, 0, 0, .5);
}
.tree-el-choice.active-tree-choice,
.tree-el-choice.active-tree-choice:hover{
	background: rgba(0, 0, 0, 1);
}


.creationtournoi-element-container{
	width: 97%;
	margin: auto;
	display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    flex-shrink: 2;
}
.creationtournoi-element-choice{
	width: 100%;
	max-width: 375px;
	max-height: 214px;
	margin-top: 5px;
	padding: 0 10px 0 10px;
	transition: all .2s;
	overflow: hidden;
	cursor: pointer;
	border-color: transparent;
	animation: smoothTransform .5s linear;
}
.creationtournoi-element-choice:hover{
	/*border-color: rgba(0, 0, 0, .8);*/
}
.creationtournoi-element-choice-description{
	width: 95%;
	margin: 0 auto;
	height: 0;
	font-size: 0;
	bottom: -100%;
	left: 2.5%;
	text-align: center;
	background: rgba(0, 0, 0, .5);
	opacity: 0;
	transition: all .2s;
	overflow: hidden;
}
.creationtournoi-element-choice-description p{
	font-size: inherit;
	margin: 0 auto;
	width: 100%;
}
.creationtournoi-element-choice:hover .creationtournoi-element-choice-description{
	height: 100%;
	font-size: 16px;
	bottom: 0;
	opacity: 1;
}
.creationtournoi-element-choice img{
	opacity: .5;
	width: 100%;
	border-color: rgba(0, 0, 0, 1);
}
.creationtournoi-element-choice .title{
	height: 100%;
	width: 100%;
	top:0;left:0;
	font-weight: 900;
	letter-spacing: 2px;
	transition: font-size .2s;
	text-align: center;
}
.creationtournoi-element-choice:hover .title{
	font-size: 0;
}

#creationtournoi-valider{
	width: 100%;
	max-width: 200px;
	margin-top: 25px;
}


.creationtournoi-gameversion-choice{
	height: 214px;
}
.creationtournoi-gameversion-choice img{
	width: 94%;
    height: 100%;
}
.creationtournoi-gameversion-choice ul{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	text-align: center;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, 0.1);
}
.creationtournoi-gameversion-choice ul li:last-of-type{
	margin-bottom: 10px;
}



.creationtournoi-gameversion-container-form{
	overflow: hidden;
	height: auto;
	transition: all .5s;
	animation: smoothTransform .5s alternate;
	margin-top: 50px;
}
.creationtournoi-separator{
	margin: 0 auto;
    width: 100%;
    max-width: 600px;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.creationtournoi-gameversion-container-form p{
	margin-top: 5px;
}
p.creationtournoi-random-match{
	margin-top: 10px;
}
.creationtournoi-gameversion-container-form form{
	width: 95%;
	padding: 25px 10px 25px 10px;
	max-width: 800px;
	margin: 0 auto;
	margin-top: 10px;
	border-left: 2px solid #fff;
	background: rgba(255, 255, 255, .01);
	transition: background .2s;
}
.creationtournoi-gameversion-container-form form:hover,
.creationtournoi-gameversion-container-form form:active,
.creationtournoi-gameversion-container-form form:focus{
	background: rgba(255, 255, 255, .05);
}
.creationtournoi-gameversion-container-form .form-input-group{
	display: flex;
    flex-direction: column;
    margin-top: 35px;
}
.creationtournoi-gameversion-container-form .form-input-group label,
.creationtournoi-gameversion-container-form .form-input-group .tip{
	letter-spacing: 2px;
	word-spacing: 5px;
}
.creationtournoi-gameversion-container-form .form-input-group .creationtournoi-tip{
	font-style: italic;
	color: #ccc;
	margin-top: 5px;
}
.creationtournoi-gameversion-container-form .form-input-group input{
	margin-top: 15px;
	height: 25px;
}
.creationtournoi-gameversion-container-form .form-input-group textarea{
    resize: none;
    width: 90%;
    height: 75px;
    margin: 0 auto;
    padding: 10px;
}
.creationtournoi-gameversion-container-form .form-input-group input[type="checkbox"]{
    height: 20px;
    width: 20px;
    cursor: pointer;
}


.creationtournoi-tournoi-valid-creation{
	overflow: hidden;
	padding-bottom: 25px;
}

.creationtournoi-valid-tournoi-name{
	margin: 0 auto;
	text-align: center;
}
.creationtournoi-valid-tournoi-descr{
	margin-top: 25px;
}
.creationtournoi-valid-tournoi-list{
	width: 97.5%;
	margin: 0 auto;
	margin-top: 25px;
	max-width: 1125px;
	animation: smoothPopFromLeft .5s alternate;
}
.creationtournoi-valid-tournoi-list li{
	width: 100%;
	padding: 20px 0 5px 0;
	border-bottom: 2px solid #fff;
	transition: border .2s, background .2s;
}
.creationtournoi-valid-tournoi-list li:nth-child(even){
	background: rgba(255, 255, 255, .08);
	-webkit-animation: 1s creationtournoi-smoothLight alternate;
	-o-animation: 1s creationtournoi-smoothLight alternate;
	animation: 1s creationtournoi-smoothLight alternate;
}
.creationtournoi-valid-tournoi-list li span.data{
	top: 20px;
	right: 5px;
}

.my-content-wrapper{
	padding: 25px 0;
}


@media screen and (max-width: 1100px) {	
	.creationtournoi-tree-maxcontainer{
		flex-direction: column;
	}
	.creationtournoi-tree-el{
		line-height: 50px;
		width: 95%;
		transition: .2s height;
		display: block;
		border: none;
	}
	.creationtournoi-tree-el-choices-container{
		top: 0;
		left: 0;
		position: relative;
		display: block;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.creationtournoi-tree-el:hover {
		height: auto;
	}
}

@media screen and (max-width: 500px) {	
	.creationtournoi-gameversion-container-form form{
		width: 95%;
		padding: 25px 0 25px 0;
		border-left: 0px solid #fff;
	}
}
