

body {
	line-height: 1;
	background: #201B3A;	
	font-family: lato, sans-serif;
	color: #fff;
}

/* ################## INFOS PRINCIPALES TOURNOI ################### */
	.detailtournoi-infos{
		/*margin-top: 142px;*/
		align-items: center;
		justify-content: center;
		background: rgba(255, 255, 255, 0.05);
	}
	.detailtournoi-infos article,
	.detailtournoi-infos .detail-tournoi-aside{
		/*padding: 0 20px 20px 20px;*/
	}

	.detailtournoi-infos .detail-tournoi-aside{
		width: 100%;
		max-width: 200px;
		/*overflow: hidden;*/
	}
	.detailtournoi-infos .detail-tournoi-aside img{
		width: 100%;
		opacity: .6;
	}
	.detailtournoi-infos .detail-tournoi-aside figcaption{
		position: absolute;
		top: calc(50%);
		width: 100%;
		left: 0;
	}
	.detailtournoi-infos .detailtournoi-btn-inscription{
		/*height: 6vh;*/
		width: 140px;
		display: block;
		vertical-align: middle;
		margin: 0 auto;
		margin-top: 20px;
	}
	.detailtournoi-infos .tablette-only{
		display: none;
	}
	
	.detail-tournoi-main-infos{
		width: 100%;
	}

	.detailtournoi-infos article{
		width: 100%;
		max-width: 900px;
	}
	.detailtournoi-infos article h3{
		margin: 0 auto;
		margin-top: 20px;
		display: inline-block;
		padding: 14px 20px 14px 20px;
	}
	.detailtournoi-description-jeu{
		margin: 0 auto;
		margin-top: 20px;
	}
	.detailtournoi-tournoi-regles{	
		flex-direction: column;
		margin: 0 auto;
		margin-top: 38px;
		width: 100%;
		max-width: 450px;
	}
	.detailtournoi-tournoi-regles p{
		border-top: 1px solid #fff;
		padding: 1vh;
		display: block;
	}
	.detailtournoi-tournoi-regles span{
		display: inline-block;
		position: absolute;
		left: 142px;
	}
	.detailtournoi-tournoi-regles p span.relative{
		cursor: default;
	}
	.detailtournoi-tournoi-regles p span.relative i{
		top: -2vh; left: calc(100%);
		background: #D92B4C;
		z-index: 2;
		border-radius: 5px;
		display: block;
		width: 0vh;
		height: 4vh;
		padding: 0;
		overflow: hidden;
		padding: 1vh 3vh 1vh 4vh;
		opacity: 0;
		transition: all .2s;
	}
	.detailtournoi-tournoi-regles p:hover span.relative i{
		width: 25vh;
		opacity: 1;
	}
	.detailtournoi-tournoi-regles p:hover span.relative i:before{
		content: "\e091";
		position: absolute;
		left: 0.5vh; top: 20px;
		font-family: symbols-html;
	}
	.detailtournoi-tournoi-regles p span.relative:hover i:after{
		content: attr(data-title);
	}

/* ################## JOUEURS PARTICIPANTS ################### */
	p.place-a-prendre{
		background: rgba(0, 102, 0, .3);
	}
	p.aucune-place-restante{
		background: #D92B4C;
	}
	.detailtournoi-participants{
		width: 100%;
		margin: 0 auto;
		padding-top: 40px;
		padding-bottom: 20px;
		background: rgba(28, 37, 58, 0.85);
	}
	.detailtournoi-participants h2{
		line-height: 48px;
		padding-left: 8px;
		display: inline-block;
	}
	.detailtournoi-participants h2 span{
		padding: 7px;
	}
	.detailtournoi-liste-participants{	
		width: 90%;
		margin: 0 auto;	
		flex-direction: column;
		margin-top: 4vh;
		margin-left: 4vh;
		border-bottom: 2px solid #fff;
		max-height: 50vh;
		overflow-y: scroll;
	}
	.detailtournoi-participant{		
		align-items: center;
		justify-content: left;
		border-top: 2px solid #fff;
		padding: 3vh;
	}
	.detailtournoi-participant:nth-child(even){
		background: #080325;
	}
	.detailtournoi-participant-pseudo{
		font-weight: 700;
		letter-spacing: 1px;
	}
	.detailtournoi-participant-pseudo a{
		transition: color .2s;
	}
	.detailtournoi-participant-pseudo a:hover{
		color: #ccc;
	}
	.detailtournoi-participant-points{
		left: 142px;
		top: calc(50% - .75vh);
	}
	.detailtournoi-participant-points:after{
		content: " points";
	}
	.detailtournoi-btn-fichejoueur{
		height: 5vh;
		width: 12vh;
		font-size: 2.2vh;
		background: inherit;
		color: #fff;
		cursor: pointer;
		display: block;
		vertical-align: middle;
		transition: background .4s, border .4s;
		margin: 0 auto;
		margin-right: 0;
		font-weight: 400;
	}
	.detailtournoi-btn-fichejoueur a{
		overflow: hidden;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0; top: 0;
		border: 1px solid #fff;
		border-radius: 5px;
		transition: background .4s, border .4s;
	}
	.detailtournoi-btn-fichejoueur a:after{
		content: "Inspecter";
		line-height: 5vh;
	}
	.detailtournoi-btn-fichejoueur:hover a{
		background: #D92B4C;
		border-color: #D92B4C;
	}
	.detailtournoi-stats-joueur{
		height: 0; width: auto;
		overflow: hidden;
		left: calc(50%);
		transition: all .2s;
	}
	.detailtournoi-participant:hover .detailtournoi-stats-joueur{
		height: 20px;
	}


/* ################## BRACKET TOURNOI ################### */
	.detailtournoi-bracket{
		width: 90%;
		margin: 0 auto;
		margin-top: 4vh;
	}

	.detailtournoi-bracket h2{
		padding-bottom: 1vh;
		border-bottom: 1px solid #fff;
		display: inline-block;
	}
	/*	width: 90%;
		margin: 0 auto;
		margin-top: 4vh;*/
	}

	.detailtournoi-bracket h2{
		/*padding-bottom: 1vh;
		border-bottom: 1px solid #fff;
		display: inline-block;*/
	}

/* ################## COMMENTAIRES #################### */
	.detailtournoi-commentaires{
		width: 100%;
		margin: 0 auto;
		margin-top: 4vh;
		padding-top: 4vh;
		padding-bottom: 4vh;
		background: rgba(255, 255, 255, 0.05);
	}
	.detailtournoi-commentaires h2{
		padding-bottom: 1vh;
		border-bottom: 1px solid #fff;
		display: inline-block;
	}
	.detailtournoi-container-commentaires{
		width: 90%;
		margin: 0 auto;
		margin-top: 20px;
		background: #fff;
		border: 5px solid #0A0012;
		max-height: 50vh;
		overflow-y: scroll;
		padding: 0.2vh 0 20px 0;
	}
	.detailtournoi-commentaire{
		width: 90%;
		margin: 0 auto;
		margin-top: 20px;
		margin-left: 0vh;
		padding: 20px;
		background: rgba(28, 37, 58, 0.85);
		border: 5px solid #0A0012;
		border-left: 0;
		max-height: 50vh;
		border-radius: 10px;
		transition: background .1s;
	}
	.detailtournoi-commentaire:hover{
		background: rgba(28, 37, 58, 0.90);		
	}
	.detailtournoi-commentaire-date{
		font-size: 1.5vh;
		color: #201B3A;
	}
	.detailtournoi-commentaire-pseudo{
		color: #201B3A;
		font-weight: 700;
		display: inline-block;
	}
	.detailtournoi-commentaire-pseudo a:hover{
		color: #0A0012;
	}
	.detailtournoi-commentaire-userpick{
		margin: 0 auto;
		margin-top: 0.5vh;
		width: 90%;
	}
	.detailtournoi-container-commentaires .detailtournoi-commentaire-current-user{
		background: rgba(28, 37, 58, 0.65);
		margin: 0 auto;
		margin-top: 20px;
		border-left: 5px solid #0A0012;
	}
	.detailtournoi-container-commentaires .detailtournoi-commentaire-current-user:hover{
		background: rgba(28, 37, 58, 0.7);
	}
	.detailtournoi-commentaire-current-user .detailtournoi-commentaire-pseudo{
		text-align: right;
		display: block;
		margin-top: 0.3vh;
	}	
	.detailtournoi-commentaire-current-user .detailtournoi-commentaire-date{
		text-align: left;
	}

	.detailtournoi-container-post-commentaire{
		margin: 0 auto;
		width: 90.5%;
		background: rgba(28, 37, 58, 0.95);
		border: 2px solid #fff;
	}
	.detailtournoi-container-post-commentaire textarea{
		resize: none;
		background: rgba(120, 104, 134, 0.2);
		width: 100%;
		height: 25px;
		color: white;
		outline: none;
		border: none;
		transition: height .2s;
	}
	.detailtournoi-container-post-commentaire textarea:hover,
	.detailtournoi-container-post-commentaire textarea:active,
	.detailtournoi-container-post-commentaire textarea:focus{
		outline: none;
		border: none;
	}	
	.detailtournoi-container-post-commentaire textarea:active,
	.detailtournoi-container-post-commentaire textarea:focus{
		outline: none;
		border: none;
		height: 50px;
	}
	.detailtournoi-container-post-commentaire input{
		display: none;
	}

	.detailtournoi-container-post-commentaire textarea::-webkit-input-placeholder {
		letter-spacing: 3px; 
		text-transform: uppercase; 
		height: 100%; 
		line-height: 25px; 
		text-align: center;
		transition: all .2s;
	}
	.detailtournoi-container-post-commentaire textarea:active::-webkit-input-placeholder,
	.detailtournoi-container-post-commentaire textarea:focus::-webkit-input-placeholder{
		letter-spacing: 1px;
		line-height: 50px;
	}



/* ############## RESPONSIV TABLETTE(855px) ############### */
	@media screen and (max-width: 855px) {
	    /* ################## INFOS PRINCIPALES TOURNOI ################### */
			.detailtournoi-tournoi-regles p span.relative i{
				top: 20px; left: -2vh;
				background: #D92B4C;
				z-index: 2;
				border-radius: 5px;
				display: block;
				width: 0vh;
				height: auto;
				padding: 3vh 20px 20px 20px;
				overflow: hidden;
				opacity: 0;
				transition: all .2s;
			}
			.detailtournoi-tournoi-regles p:hover span.relative i{
				width: 100%;
			}
			.detailtournoi-tournoi-regles p:hover span.relative i:before{
				content: "\e093";
				text-align: center;
				width: 100%;
				display: block;
				position: absolute;
				top: 0.5vh;
				left: 0;
				font-family: symbols-html;
			}
	}


/* ############## RESPONSIV TABLETTE(801px) ############### */
	@media screen and (max-width: 801px) {
		/* ################## INFOS PRINCIPALES TOURNOI ################### */
			.detailtournoi-infos{
				align-items: top;
				justify-content: center;
				flex-direction: column;
				padding-bottom: 4vh;
			}
			.detailtournoi-infos article,
			.detailtournoi-infos .detail-tournoi-aside{
				padding: 0 0 0 0;
				width: 90%;
			}
			.detail-tournoi-aside img,
			.detail-tournoi-aside figcaption{
				display: none;
			}
			.detailtournoi-infos article h3{
				margin-top: 20px;
				display: inline-block;
				border-bottom: 1px solid #fff;
				padding-bottom: 20px;
			}
			.detailtournoi-infos article .tablette-only{
				display: block;
			}

		/* ################## JOUEURS PARTICIPANTS ################### */
			.detailtournoi-participants{
				margin-top: 8vh;
			}
			.detailtournoi-participants h2{
				padding-bottom: 1vh;
				border-bottom: 1px solid #fff;
				display: inline-block;
			}
			.detailtournoi-participant-points{
				left: 142px;
				top: calc(50% - .75vh);
			}
			.detailtournoi-participant-points:after{
				content: " points";
			}
			.detailtournoi-stats-joueur{
				display: inline-block;
				left: -50vh;
				top: 4vh;
				background: #080325;
			}
			.detailtournoi-participant:nth-child(even) .detailtournoi-stats-joueur{
				background: #201B3A;
			}
			.detailtournoi-participant:hover .detailtournoi-stats-joueur{
				height: 20px;
				width: auto;
				text-align: center;
				left: 20px;
			}
		
		/* ################## COMMENTAIRES ################### */
			.detailtournoi-container-commentaires{
				padding: 0;
			}
			div.detailtournoi-container-commentaires > div.detailtournoi-commentaire{
				border: 0;
				margin: 0 auto;
				margin-top: 20px;
				width: 90%;
				padding: 2%;
			}
		
	}

/* ############## RESPONSIV MOBILE(401px) ############### */
	@media screen and (max-width: 481px) {				
			.detailtournoi-tournoi-regles p{
				border-top: 1px solid #fff;
				padding: 20px 1vh 20px 1vh;
				display: block;
			}
			.detailtournoi-tournoi-regles span{
				display: inline-block;
				position: absolute;
				left: 14vh;
			}
			.detailtournoi-tournoi-regles p span.relative i{
				display: none;
			}


			.detailtournoi-participants{
				background: rgba(28, 37, 58, 0.85);
				width: 100%;
			}
			.detailtournoi-participants h2{
				padding-bottom: 1.2vh;
				display: block;
				text-align: center;
			}


			.detailtournoi-liste-participants{	
				width: 95%;
				margin: 0 auto;
				margin-top: 2.5vh;
				max-height: 50vh;
				overflow-y: scroll;
			}
			.detailtournoi-participant-points{
				left: 2.5vh;
				top: calc(100% - 20px);
			}
			.detailtournoi-stats-joueur{
				display: none;
			}

			.detailtournoi-commentaires h2{
				padding-bottom: 1vh;
				border-bottom: 1px solid #fff;
				display: block;
				text-align: center;
			}
	}