
.absfiche{
    text-align: center;
    line-height: 80px;
    margin-top:150px;
}

.bg-cover-detailteam {
    background: linear-gradient(0deg, rgba(22, 9, 98, 0.3), rgba(22, 9, 98, 0.6)), url(../img/detailteam.jpg) center top no-repeat;
    margin:0;
    padding:0;
    -webkit-background-size: cover;
    background-size: cover;
}

.team-title{
    background: linear-gradient(0deg, rgba(22, 9, 98, 0.3), rgba(22, 9, 98, 0.6));
    transform: skew(-8deg);
    width:35%;
}
.team-title img{
    display: flex;
    justify-content: center;
    width:200px;
}
.slogan-title{
    margin-top:-150px;
    margin-bottom:100px;
    font-size:35px;
    position: relative;
    text-align: center;
    font-style: italic;
}

.header-info{
    font-size:20px;
    color:.ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contain-team{
    border:1px solid white;
}
.contain-member{
    position: relative;
    margin-bottom: -317px;
    margin-top: 50px;
}
.contain-member .title_index{
    width:75%;
}
.description-team{  
    margin-top:60px;
    font-size:19px;
    width:460px;
}
.liste_member{
    font-size: 18px;
}
.liste_member img{
    width:100px;
}

.pseudo-leader{
    margin-left:25px;
    margin-top:15px;
}
.pseudo a{
    font-style: italic;
}
.pseudo a:hover{
    cursor:pointer;
    color:#D92B4C;
    transition: .4s; 
}
.leader_member{
    position: absolute;
}
.team-content-wrapper{
    padding:15px;
}
.team-tournoi{
    margin-top:30px;
}
.team-container{
    width:85%;
}
.title_index{
    width:88%;
    padding:10px;
    text-align: right;
    background-color: #211d3b;
    transform: skew(-8deg);
    margin-bottom: 20px
}
.pseudo_member{
    margin-top:-50px;
    margin-bottom:50px;
    margin-left:150px;
    font-size:20px;
}

.button-team{
    width:350px;
    margin-top:30px;
    margin-bottom:30px;
}

.btn-modif-team{
    margin-right:50px;
}


.fight{
    width:100%;
    text-align: center;
    margin-top:20px;
    cursor:pointer;
}
.fight:hover h3{
    color:.d92b4c;
    transition: .4s;
}
.fight img{
    width:80px;
    transform: skew(-8deg);
    margin-top:20px;
    margin-right:9px;
    margin-left:9px;
}
.fight .date_fight{
    font-size:12px;
    color:.6f686e;
    margin-top:15px;
}
.name_fight li{
    padding:20px;
    display:inline-block;
    width:58px;
}
.name_fight ul{
    text-align: center;
}

/* Début popup */
.popup{
    position: fixed;
    z-index: 999;
    height:100%;
    width:100%;
    display:none;
    top:0px;
    margin:0px;
  }
.popup-fond{
    z-index: 1000;
    top:0px;
    position: absolute;
    background-color: black;
    opacity: 0.5;
    width:100%;
    height:100%;
  }
.popup-contain{
    z-index: 1001;
    position: relative;
    margin:0 auto;
    width:400px;
    height:600px;
    top:50%;
    margin-top:-250px;
    background:#080325;
}
/*Fin du popup */

.commentaire-team img{
    width:100px;
}
.container-comment{
    margin-top:15px;
}
.contain-text-comment{
    width:470px;
    margin-top:-78px;
    margin-bottom:20px;
    padding:10px; 
    margin-left:120px;
    background-color: #211d3b;
    transform: skew(-8deg);
}
.comment{
    margin-top:15px;
    margin-left:20px;
}
.team-comment{
    width:200px;
    text-decoration: underline;
    margin-left:135px;
}
.textarea-comment h2{
    font-size:18px;
    margin:10px 0px 10px 0;
}
.textarea-comment textarea{
    width:500px;
    margin-bottom: 20px;
    height:60px;
    font-size:15px;
    transform: skew(-8deg);
}
.crown{
    width:50px !important;
    margin-top:-50px;
}
.crown img{
    margin-right:25px;
}

@media screen and (max-width: 991px) {
    .description-team{
        position: relative;
        margin-right:50px;
        width:400px;
        margin-bottom:25px;
    }

    .commentaire-team{
        position: relative;
        margin-top:0px;
    }
}

@media screen and (max-width: 450px) {
    .description-team{
        position: relative;
        height:auto;
        margin-right:50px;
        width:150px;
    }
}