

/* ########## CSS RESET ########## */
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	a{
		text-decoration: none;
		color: inherit;
	}
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	button{
		outline: none;
		padding: 0;
		margin: 0;
		border: none;
	}
	textarea{
		resize: none;
	}
	body > *{
		width: 100%;
		margin: auto;
	}
	table {
		border-spacing: 0;
		border-collapse: collapse;
	}
	thead {
		display: table-header-group;
	}
/* ############################### */

/* ########## POLICES ############ */
	@font-face {
	  font-family: 'symbols-html';

	  src: url('../font/glyphicons-halflings-regular.eot');
	  src: url('../font/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../font/glyphicons-halflings-regular.woff2') format('woff2'), url('../font/glyphicons-halflings-regular.woff') format('woff'), url('../font/glyphicons-halflings-regular.ttf') format('truetype'), url('../font/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
	}
	@font-face{
		font-family: 'helvetica';
		/*src: url('../font/helvetica.otf') format ('truetype');*/
		src: url('../font/helvetica.otf');
	}
/* ################################ */

/* ######### NOS CLASSES ######### */
	.mobile-only{
		display: none;
	}
	.tablette-only{
		display: none;
	}
	.clearfix{
		clear: both;
	}
	.dis-block{
		display: block;
		width: 100%;
	}
	.absolute{
		position: absolute;
	}
	.fixed{
		position: fixed;
	}
	.relative{
		position: relative;
	}
	.ta-center{
		text-align: center;
	}
	.ta-left{
		text-align: left;
	}
	.ta-right{
		text-align: right;
	}
	.italic{
		font-style: italic;
	}
	.margin-auto{
		margin: 0 auto;
	}
	.max-container{	
		width: 100%;
		margin: 0 auto;
	}
	.titre1{	
		font-size: 37px;
	}
	.titre2{	
		font-size: 28px;
	}
	.titre3{	
		font-size: 24px;
	}
	.titre3{
		font-size: 21px;
	}
	.uppercase{
		text-transform: uppercase;
	}
	.flex-column{		
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.flex-column-space-between{		
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.flex-column-50{
		width: 49.9%;
	}
	.flex{		
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	.flex-row{		
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
		flex-flow: row wrap;
	}
	.ov-hidden{
		overflow: hidden;
	}
	.img-absolute-bg{
		top: 0;
		left: 0;
		z-index: -1;
	}
	.opacity-05{
		opacity: .5;
	}
	.img-responsiv-width{
		width: 100%;
		height: auto;
	}
	.img-responsiv-height{
		height: 100%;
		width: auto;
	}
	.skew-8{
		transform: skew(-8deg);
	}
	.skew-8 > *{
		transform: skew(8deg);
	}
/* ################################ */

/* ##### BUTTON ##### */
	.classic-btn{
		height: 6vh;
		width: 15vh;
		font-size: 2.4vh;
		position: relative;
		background: inherit;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		vertical-align: middle;
		transition: background .4s, border .4s;
	}
	.classic-btn:hover a{
		background: #D92B4C;
		border-color: #D92B4C;
	}
	.classic-btn a{
		overflow: hidden;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0; top: 0;
		border: 0.4vh solid #fff;
		line-height: 6vh;
		transform: skew(-8deg);
		transition: background .4s, border .4s;
	}

/* #### CGU ### */
	.CGU{
		text-decoration: underline;
		font-weight: bold;
	}
	.CGU:hover{
		color:#D92B4C;
	}