body {
	line-height: 1;
	background: #080325;	
	font-family: lato, sans-serif;
	color: #fff;
}/*
section{
	transition: background .2s;
}
section:nth-child(even){
	background: rgba(255, 255, 255, 0.02);
}
section:hover{
	background: rgba(255, 255, 255, 0.05);
}*/

.gestiontournoi-header-profil-image{
	max-width: 50%;
    margin: 0 auto;
    display: block;
    margin-bottom: 25px;
}
.bg-cover-gestiontournoi{    
    background: linear-gradient(0deg, rgba(22, 9, 98, 0.7), rgba(255, 255, 255, 0.2)), url(../img/gestion-tournoi.jpg) center no-repeat;
    margin:0;    
    -webkit-background-size: cover; 
    background-size: cover;     
}

.btn-gestion-tounoi{
	margin-bottom: 15px;
}

.MAJ{
	font-weight: bold;
}


.configuration-form-table{
    margin-bottom:15px;
}

.configuration-form-table td{
    padding:15px 25px;      
    border:1px solid #524c7b;  
}

.configuration-form-table td:first-child{
    width: 40%;
}

.warning{
	color:#D92B4C;
	font-size: 18px;
	text-align:center;
	margin-bottom: 10px;
}

/* ############## RESPONSIV TABLETTE(855px) ############### */
	@media screen and (max-width: 855px) {
	    /* ################## INFOS PRINCIPALES TOURNOI ################### */
			.detailtournoi-tournoi-regles p span.relative i{
				top: 20px; left: -2vh;
				background: #D92B4C;
				z-index: 2;
				border-radius: 5px;
				display: block;
				width: 0vh;
				height: auto;
				padding: 3vh 20px 20px 20px;
				overflow: hidden;
				opacity: 0;
				transition: all .2s;
			}
			.detailtournoi-tournoi-regles p:hover span.relative i{
				width: 100%;
			}
			.detailtournoi-tournoi-regles p:hover span.relative i:before{
				content: "\e093";
				text-align: center;
				width: 100%;
				display: block;
				position: absolute;
				top: 0.5vh;
				left: 0;
				font-family: symbols-html;
			}
	}


/* ############## RESPONSIV TABLETTE(801px) ############### */
	@media screen and (max-width: 801px) {
		/* ################## INFOS PRINCIPALES TOURNOI ################### */
			.detailtournoi-infos{
				align-items: top;
				justify-content: center;
				flex-direction: column;
				padding-bottom: 4vh;
			}
			.detailtournoi-infos article,
			.detailtournoi-infos .detail-tournoi-aside{
				padding: 0 0 0 0;
				width: 90%;
			}
			.detail-tournoi-aside img,
			.detail-tournoi-aside figcaption{
				display: none;
			}
			.detailtournoi-infos article h3{
				margin-top: 20px;
				display: inline-block;
				border-bottom: 1px solid #fff;
				padding-bottom: 20px;
			}
			.detailtournoi-infos article .tablette-only{
				display: block;
			}

		/* ################## JOUEURS PARTICIPANTS ################### */
			.detailtournoi-participants{
				margin-top: 8vh;
			}
			.detailtournoi-participants h2{
				padding-bottom: 1vh;
				border-bottom: 1px solid #fff;
				display: inline-block;
			}
			.detailtournoi-participant-points{
				left: 142px;
				top: calc(50% - .75vh);
			}
			.detailtournoi-participant-points:after{
				content: " points";
			}
			.detailtournoi-stats-joueur{
				display: inline-block;
				left: -50vh;
				top: 4vh;
				background: #080325;
			}
			.detailtournoi-participant:nth-child(even) .detailtournoi-stats-joueur{
				background: #201B3A;
			}
			.detailtournoi-participant:hover .detailtournoi-stats-joueur{
				height: 20px;
				width: auto;
				text-align: center;
				left: 20px;
			}
		
		/* ################## COMMENTAIRES ################### */
			.detailtournoi-container-commentaires{
				padding: 0;
			}
			div.detailtournoi-container-commentaires > div.detailtournoi-commentaire{
				border: 0;
				margin: 0 auto;
				margin-top: 20px;
				width: 90%;
				padding: 2%;
			}
		
	}

/* ############## RESPONSIV MOBILE(401px) ############### */
	@media screen and (max-width: 481px) {				
			.detailtournoi-tournoi-regles p{
				border-top: 1px solid #fff;
				padding: 20px 1vh 20px 1vh;
				display: block;
			}
			.detailtournoi-tournoi-regles span{
				display: inline-block;
				position: absolute;
				left: 14vh;
			}
			.detailtournoi-tournoi-regles p span.relative i{
				display: none;
			}


			.detailtournoi-participants{
				background: rgba(28, 37, 58, 0.85);
				width: 100%;
			}
			.detailtournoi-participants h2{
				padding-bottom: 1.2vh;
				display: block;
				text-align: center;
			}


			.detailtournoi-liste-participants{	
				width: 95%;
				margin: 0 auto;
				margin-top: 2.5vh;
				max-height: 50vh;
				overflow-y: scroll;
			}
			.detailtournoi-participant-points{
				left: 2.5vh;
				top: calc(100% - 20px);
			}
			.detailtournoi-stats-joueur{
				display: none;
			}

			.detailtournoi-commentaires h2{
				padding-bottom: 1vh;
				border-bottom: 1px solid #fff;
				display: block;
				text-align: center;
			}
	}
