/*Partie haute de la page header + inscription */
#section_inscrip{
	background-color:rgba(8,3,37,.4);
}

#content{
	height:100%;
}

.form-bg-active{
	background:rgba(38, 36, 71, 0.71) none repeat scroll 0% 0%;
}

.index-header-btn{
	bottom:-50px;
	right:0px;
	position:absolute;
	text-transform: capitalize;
}

.index-form-submit{
	margin:25px 0 0 0;
}

.index-input-default-date{
	margin-left:10px;
}

.index-header-btn-pink-width{
	width:200px; 
}

.bg-cover-index{
	/*background: linear-gradient(0deg, rgba(0,0,255,0.3), rgba(2,173,231,0.5)), url(../img/banner-bg.jpg) center top no-repeat;*/
	background: linear-gradient(0deg, rgba(22, 9, 98, 0.3), rgba(22, 9, 98, 0.6)), url(../img/header.jpg) center top no-repeat;
	margin:0;
  	padding:0;
	-webkit-background-size: cover; 
	background-size: cover; 
}

#header{
	width: 100%;
	background-color: #160962
}
#header img{
	opacity: .5;
	height:auto;
	min-width: 300px;
	width: 100%;
}
#title_header{
	position:absolute;
	top:300px;
	left:8%;
}
#title_header h1{
	width:550px;
	height:100px;
}
#title_header h1 a{
	border:3px solid;
	text-align:left;
	font-size: 50px;
	text-transform: uppercase;
	padding:40px;
	font-family: Roboto !important;
}
#sous-title_header{
	position:absolute;
	top:500px;
	left:27.2%;
}
#sous-title_header a {
	font-family: Roboto !important;
}
#sous-title_header h2{
	width:220px;
	margin-right: 10px;
}
#sous-title_header h3{
	width:120px;
}
.inscription_rapide{
	background-color:rgba(8,3,37,1);
	border-radius: 5px;
	color:white;
    padding: 30px;
    font-family: Roboto !important;
   	font-size: 13px;
}

/* Contenu de l'index en dessous du header*/
#container_index{
	width:100%;
	height:auto;
	background-color:#080325;
	font-family: Roboto !important;
	color:white;
}
#contain{
	width:96%;
	margin:0 auto;
	border-top:3px solid white;
	border-left:3px solid white;
	border-right:3px solid white;
	height:1700px;
}
/*Contenu de la page à gauche tous les articles */
#contain_left{
	width:800px;
	position:absolute;
	margin:5px;
	left:8%;
	margin-top:70px;

}
.tri{
	float:right;
	margin-top:-65px;
}
select{
	width:200px;
}

#article1{
	width:100%;
	margin-top:80px;
}
.contain_article{
	width:765px;
	height:270px;
}
.img_article{
	width:200px;
	height:150px;
	transform: skew(-8deg);
	background-color: #160962;
}
.img_article img{
	width:200px;
	height:150px;
	opacity: .7;
}
.img_article img:hover{
	opacity: .6;
}
.text_article{
	width:500px;
	margin-top:-145px;
	float:right;
	text-align: left;
}
.date_article h3{
	float:right;
	font-size:12px;
	color:#6f686e;
	margin-top:-133px;
}
.text_article h2{
	font-size:28px;
}
.tags_article h3{
	margin-top:15px;
	font-size:12px;
	color:#6f686e;
}
.icon{
	content: '\f073';
}
.text_article p{
	font-family: none;
	margin-top:15px;
	font-size:16px;
}
.btn_article .btn {
	margin-top:20px;
	width:120px;
	height:35px;
}
.page li{
	width:70px;
	margin-top:20px;
}

/*Contenu de la page à droite : recherche, match...*/
#contain_right{
	float:right;
	width:240px;
	margin-right:8%;
}

#contain_search{
	margin-top:40px;
	text-align: right;
}
input[name="search"]{
	text-align: end;
}
.title{
	width:88%;
	padding:10px;
	text-align: right;
	background-color: #211d3b;
	transform: skew(-8deg);
}
.title,label[for='title1']{
	margin-top:50px;
}
.fight{
	width:100%;
	text-align: center;
	margin-top:20px;
	cursor:pointer;
}
.fight:hover h3{
	color:#d92b4c;
	transition: .4s;
}
.fight img{
	width:80px;
	transform: skew(-8deg);
	margin-top:20px;
	margin-right:9px;
	margin-left:9px;
}
.fight .date_fight{
	font-size:12px;
	color:#6f686e;
	margin-top:15px;
}
.name_fight li{
	padding:20px;
	display:inline-block;
	width:58px;
}
.name_fight ul{
	text-align: center;
}
.tab{
	margin-top:15px;
	border-bottom:1px solid #201c3a;
	font-size:13px;
}
#match{
	width:100%;
	font-size:12px;
}
.margin_match{
	margin-top:25px;
	cursor: pointer;
}
#match img{
	width:50px;
	transform: skew(-8deg);
}
#match img[name="img2"]{
	margin-left:22px;
}
.statut{
	width:auto;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 25px;
	transform: skew(-8deg);
	float:right;
	background-color: #201c3a;
}
.date_match{
	float:right;
	color:#6f686e;
	margin-top:10px;
}
.versus{
	position: absolute;
	margin-left: 55px;
    margin-top: -32px;
}
hr{
	color:#201c3a;
	background-color: #201c3a;
	border:0;
	height:1px;
	margin:-0.5em 0;
	padding: 0;
	margin-top:35px;
}
.game{
	margin-top:20px;
}
.game img{
	width:80px;
	transform: skew(-8deg);
	cursor:pointer;
}
.game p{
	position: absolute;
    margin-left: 90px;
    margin-top: -40px;
    text-decoration: underline;
    cursor: pointer;
}

.categorie{
	margin-top: 20px;
}
.categorie p{
	text-decoration: underline;
	cursor: pointer;
	float:right;
	font-size: 13px;
	margin-right:15px;
}
#section_social_media{
	background-color: rgba(8,3,37,.4);
	color:white;
}
#footer{
	width: 100%;
    background-color: #160962;
}
#footer img{
	opacity: .8;
    height: auto;
    min-width: 300px;
    width: 100%;
}
.title_social{
	position:absolute;
	width:100%;
	text-align: center;
	top: 2415px;
    font-size: 20px;
    font-family: Roboto !important;
}
.nw_social{
	width: 150px;
    height: 150px;
    transform: skew(-8deg);
    opacity: .5;
    top: 2465px;
    position: absolute;
	background-color: #201c3a;
	cursor:pointer;
}
.fb{
	left:25%;
}
.tw{
	left:38%;
}
.st{
	left:51%;
}
.yo{
	left:64%;
}

.index-modal-login{
	width:100%;
	height:100%;
	position:fixed;
	z-index:100000000000;
	opacity:1;
}
