/*Partie haute de la page header */

.bg-cover-index{
	/*background: linear-gradient(0deg, rgba(0,0,255,0.3), rgba(2,173,231,0.5)), url(../img/banner-bg.jpg) center top no-repeat;*/
	background: linear-gradient(0deg, rgba(22, 9, 98, 0.3), rgba(22, 9, 98, 0.6)), url(../img/header.jpg) center top no-repeat;
	margin:0;
  	padding:0;
	-webkit-background-size: cover; 
	background-size: cover; 
	height:700px;
}

.index-header-btn{
    bottom:-50px;
    right:0px;
    position:absolute;
    text-transform: capitalize;
}

.index-header-btn a{
	transform:skew(0deg);
}

.index-header-btn-pink-width{
    width:200px; 
}

/* Contenu de l'index en dessous du header*/
#container_index{
	width:100%;
	height:auto;
	background-color:#080325;
	font-family: Roboto !important;
	color:white;
}
#contain{
	width:96%;
	margin:0 auto;
	border-top:3px solid white;
	border-left:3px solid white;
	border-right:3px solid white;
}
/*Contenu de la page à gauche tous les articles */
#contain_left{
    width: 60%;
    margin: 70px 3%;
    vertical-align: top;
    display: inline-block;
}

#currentTournament{
	cursor:pointer;
}

#wrapperCurrentTournament{
    display: none;
    position: fixed;
    top: 25%;
    background-color: rgba(8, 3, 37, 1);
    width: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    padding: 20px;
    font-size: 15px;
}

#contentCurrentTournament{
	width: 75%;
    margin: 25px auto;
    text-align: center;
}

.img-popup{
	max-width: 45%;
	margin-top:5%;
}

.tri{
	float:right;
	margin-top:-65px;
}
select{
	width:200px;
}
article{
	margin: 40px 0;
}
.contain_article{
	transform: skew(-8deg);
	background-color: #211d3d;
	padding:15px;
	width: 90%;
	height:100%;
	position: relative;
}
.img_article{
	width:30%;
	height:auto;
	transform: skew(-8deg);
	background-color: #160962;
}
.img_article img{
	max-width:100%;
	max-height:150px;
	opacity: .7;
}
.img_article img:hover{
	opacity: .6;
}
.text_article{
	width:65%;
	float:right;
	text-align: left;
}
.date_article{
	position: absolute;
    left: 50%;
    right: inherit;
    top: 0;
    transform: translateX(50%);
}
.date_article h3{
	font-size:12px;
	color:#6f686e;
}
.text_article h2{
	font-size:28px;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: center;
}

.tags_article{
	width: 100%;
    word-wrap: break-word;
}

.tags_article h3{
	margin-top:15px;
	font-size:12px;
	color:#6f686e;
}
.icon{
	content: '\f073';
}

.btn_article{
	text-align: center;
}

.btn_article .btn {
	margin-top:20px;
	width:50%;
	height:35px;
}
.page li{
	width:70px;
	margin-top:20px;
}

#page_navigation{
	text-align: center;
}

a.previous_link, a.next_link{
    margin: 0 3%;
    display: inline-block;
}

/*Contenu de la page à droite : recherche, match...*/
#contain_right{
    width: 30%;
    margin-right: 1%;
    display: inline-block;
}

#contain_search{
	margin-top:40px;
	text-align: right;
}
input[name="search"]{
	text-align: end;
}
.title_index_left{
	text-align: center;
	width:75%;
	margin: 0 auto;
	background-color: #211d3b;
	transform: skew(-8deg);
	padding:15px;
	font-size:17px;
}
.title_index{
    width: 90%;
    margin: 50px auto;
    padding: 10px;
    text-align: center;
    background-color: #211d3b;
    transform: skew(-8deg);
}
label[for='title1']{
	margin-top:50px;
}
.fight{
	width:100%;
	text-align: center;
	margin-top:20px;
	cursor:pointer;
}
.fight:hover h3{
	color:#d92b4c;
	transition: .4s;
}
.fight img{
	width:80px;
	transform: skew(-8deg);
	margin-top:20px;
	margin-right:9px;
	margin-left:9px;
}
.fight .date_fight{
	font-size:12px;
	color:#6f686e;
	margin-top:15px;
}
.name_fight li{
	padding:20px;
	display:inline-block;
	width:58px;
}
.name_fight ul{
	text-align: center;
}
.tab{
	margin-top:15px;
	border-bottom:1px solid #201c3a;
	font-size:13px;
}
#match{
	width:100%;
	font-size:12px;
}
.margin_match{
	margin-top:25px;
	cursor: pointer;
}
#match img{
	width:50px;
	transform: skew(-8deg);
}
#match img[name="img2"]{
	margin-left:22px;
}
.statut{
	width:auto;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 25px;
	transform: skew(-8deg);
	float:right;
	background-color: #201c3a;
}
.date_match{
	float:right;
	color:#6f686e;
	margin-top:10px;
}
.versus{
	position: absolute;
	margin-left: 55px;
    margin-top: -32px;
}
hr{
	color:#201c3a;
	background-color: #201c3a;
	border:0;
	height:1px;
	margin:-0.5em 0;
	padding: 0;
	margin-top:35px;
}
.game{
	margin-top:20px;
}
.game img{
	width:80px;
	transform: skew(-8deg);
	vertical-align: middle;
}
.game p{
	position: absolute;
    margin-left: 90px;
    margin-top: -40px;
    text-decoration: underline;
}

.categorie{
	margin-top: 20px;
}
.categorie p{
	text-decoration: underline;
	cursor: pointer;
	float:right;
	font-size: 13px;
	margin-right:15px;
}
#section_social_media{
	background: linear-gradient(0deg, rgba(22, 9, 98, 0.3), rgba(22, 9, 98, 0.6)), url(../img/footer.jpg) center top no-repeat;
	margin:0;
  	padding:0;
	-webkit-background-size: cover; 
	background-size: cover; 
	position: relative;
	height:300px;
}

.fond_footer{
	opacity: .8;
    height: auto;
    min-width: 300px;
    width: 100%;
}


#reseaux_sociaux{
    width: 90%;
    margin: 0 auto;
    display: block;
    text-align: center;
}


.title_social{
	position:absolute;
	width:90%;
	text-align: center;
	margin-top:40px;
    font-size: 20px;
    font-family: Roboto !important;
}
.nw_social{
	margin:90px 1% 0;
    height: 150px;
    transform: skew(-8deg);
    opacity: .5;
    text-align: center;
	background-color: #201c3a;
	cursor:pointer;
	position: inherit;
	display: inline-block;
	width: 20%;
	margin-left: 3%;
}
.nw_social img{
	width:50px;
	transform: skew(8deg);
    margin-top: 30px;
}
.nw_social p{
	margin-top:15px;
	margin-left:10px;
}

@media all and (max-width: 850px){

	.index-header-btn{
		bottom: -100%;
		right: 50%;
    	transform: translateX(60%);
	}
	
	#contain_left {
	    width: 90%;
	    display: block;
	    margin: 40px auto;
	}

	#contain_right {
	    width: 90%;
	    margin: 0 auto;
	    display: block;
	}

	.contain_article{
		margin: 0 auto;
	}

	.text_article{
		width: 60%;
	}

	.btn_article .btn{
		width: 70%;
	}

	.img_article{
		width: 35%;
	}
	.header-title{
        width: 70%;
    }
}
@media all and (max-width: 640px){
    .header-title{
        width: 80%;
    }
}

@media screen and (max-width: 770px) {
	#wrapperCurrentTournament{
	    width: 60%;
	}
}