.bg-cover-listejoueurs{
	background: linear-gradient(0deg, rgba(22, 9, 98, 0.3), rgba(22, 9, 98, 0.6)), url(../img/listejoueurs.jpg) center top no-repeat;
    margin:0;
    padding:0;
    -webkit-background-size: cover; 
    background-size: cover;     
}

.list-players table{
	width: 90%;
    margin: 0 auto;
	text-align: center;
}

.list-players table th{
    height: 100px;
    vertical-align: middle;
    background-color: #24203c;
}

.picture{
	width: 10%;
}

.img-player{
	width: 100%;
	height: auto;
	vertical-align: middle;
}

.pseudo{
	width: 25%;
}

.desc{
	width: 30%;
}

.team{
	width: 15%;
}

.page{
	width: 20%;
}

.page button{
	margin: 15px 0;
}

@media all and (max-width: 850px){
	.header-title{
        width: 70%;
    }
}

@media all and (max-width: 640px){
    .header-title{
        width: 80%;
    }
	
	.desc{
    	display: none;
    }

	.team{
		width: 25%;
	}

	.page{
		width: 40%;
	}
}