.bg-cover-mestournois{    
    background: linear-gradient(0deg, rgba(22, 9, 98, 0.7), rgba(255, 255, 255, 0.2)), url(../img/bg-mestournois.jpg) center no-repeat;
    margin:0;    
    -webkit-background-size: cover; 
    background-size: cover;     
}

.mestournois-container{
	padding:25px 0;
	margin: 35px auto;
}

/* Article */
.article-wrapper{
	padding:15px 0;
	margin:15px 0;
}

.article-img{
	height:150px;
}

.article-content{

}

.article-content-title{
	font-size:15px;
}

.article-content-description{

}

.article-content-btn-wrapper{

}

.article-content-btn{
	max-width:250px;
}



