		div, figure{
			border: 1px solid black;
		}
		#image{
			width: 20%;
    		display: inline-block;
    		vertical-align: top;
		}
		figure{
			height: 100%;
			text-align: center;
		}
		figure img{
			width: 100%;
		}
		#description{
			display: inline-block;
    		width: 50%;
		}
		#headdesc{
			text-align: right;
			font-style: italic;
		}
		#signature{
			font-style: italic;
		}
		#age{
			display: inline-block;
		}
		#sexe{
			display: inline-block;
    		width: 50px;
    		height: 50px;
		}
		#stats{
			padding-left: 20%;
		}
		#participation, #organisation{
			display: inline-block;
    		width: 30%;
    		height: 200px;
		}
		#buttons{
			padding-left: 20%;
		}
		button{
		    width: 20%;
		    height: 40px;
		    font-weight: bold;
		    cursor: pointer;
		}