.profil-title{    
    text-align: center;
    transform:skew(-8deg);    
    padding: 15px 25px;
    background-color:#211d3b;       
}

.profil-wrapper{
    padding:25px 15px;
}

.profil-element{
    padding:25px 15px;
}


.profil-match-element-title-this{
    display:block;
    bottom:0;
    padding-top:25px;
}

.profil-tournament-wrapper{
    padding-top:15px;
}

.profil-games-wrapper{

}

.profil-tournament-title{

}

.profil-match-title{

}

.profil-match-element-left{
    transform:skew(-8deg);
    padding:0 15px;
    position:relative;
}

.profil-watch{
    text-align: center;
}

.profil-watch button{
    width:150px;    
    margin-bottom:15px;
}

.profil-match-element-center{
    text-align: center;    
    padding-bottom:25px;
}

.profil-match-element-center span{
    font-size:45px;    
}

.profil-match-element-right{
    transform:skew(-8deg);
    padding:0 15px;
    position:relative;
}

.profil-games-title{

}

.profil-games-element{

}

.profil-tournament-element{
    width:180px;
    height:180px;
    display:inline-block;
    transform:skew(-8deg);    
}

.profil-match-element{
    text-align: center;
}

.profil-match-element img{
    width:150px;
    height:150px;
    vertical-align: middle;
}

.profil-menu-hori-ul{    
    margin: 20px 0 20px 40px;
}

/* HEIGHT RESET*/

body, html{
    min-height:100%;
    font-family:Roboto !important;
}

#content{
    //height:100%;
    margin-top:0;
}

.configuration-onglet-wrapper{
    position:absolute;
    bottom:-1px;    
    left:15vw;
}

.configuration-input-default{

}

.configuration-avatar-wrapper{
    width:250px;
    height:250px; 
    padding:15px 0 20px 0;
}

.configuration-avatar{
    
}

.configuration-onglet-ul{
    transform:skew(-8deg);
}

.configuration-onglet-ul li{
    cursor:pointer;
    padding:15px 35px;
    display:inline-block;    
}

.configuration-input-required{
    color:#D92B4C;
    position:absolute;
}

.configuration-onglet-ul li:hover{
    background-color:rgba(255,255,255,.3);
    transition:.3s background-color;
}

.configuration-onglet-ul li.active{
    background:#080325;
}

.classement-content-wrapper{
  padding:35px;
}

.configuration-form-table{
    margin-bottom:15px;
}

.configuration-form-table td{
    padding:20px 25px;      
    border:1px solid #524c7b;  
}

.configuration-form-email div{
    padding:7px 0;
}

.configuration-form-submit{
    width:200px;
}

.configuration-form-td-submit{
    padding-top:25px !important;
}

.configuration-form-menu-tr{
    font-weight:600;
    font-size:16px;
}

/* HEADER */

.bg-cover-configuration{
    /*background: linear-gradient(0deg, rgba(0,0,255,0.3), rgba(2,173,231,0.5)), url(../img/banner-bg.jpg) center top no-repeat;*/
    background: linear-gradient(0deg, rgba(22, 9, 98, 0.3), rgba(22, 9, 98, 0.6)), url(../img/tokyo.jpg) center top no-repeat;
    margin:0;
    padding:0;
    -webkit-background-size: cover; 
    background-size: cover;     
}

.configuration-header-profil-image{
    width:170px;
}

.configuration-header-profil-name{
    font-size:25px;
    text-transform: capitalize;
    font-weight: 600;
    padding:15px;
}

.configuration-header-profil-description, .configuration-header-profil-lastconnexion{
    font-size:13px;
    padding:15px;
    color:rgba(255,255,255,.5);
}

.configuration-header-profil-left{
    transform:skew(-8deg);
}

.configuration-header-profil-wrapper{
    position:relative;
}

.configuration-header-profil-right{
    position:absolute;
    right:-170px;
    width:100%;
    height:100%;
    top:0;
    background:rgba(8,3,37,.4);
}

.configuration-header-profil-right span{
    display:block;
}

.irhack{
    left:-15vwpx;
}

/*Contenu de la page à droite : recherche, match...*/
#contain_right{
    float:right;
    width:240px;
    margin-right:8%;
}

#contain_search{
    margin-top:40px;
    text-align: right;
}
input[name="search"]{
    text-align: end;
}
.title_index{
    width:88%;
    padding:10px;
    text-align: right;
    background-color: #211d3b;
    transform: skew(-8deg);
}
.title_index,label[for='title1']{
    margin-top:50px;
}
.fight{
    width:100%;
    text-align: center;
    margin-top:20px;
    cursor:pointer;
}
.fight:hover h3{
    color:#d92b4c;
    transition: .4s;
}
.fight img{
    width:80px;
    transform: skew(-8deg);
    margin-top:20px;
    margin-right:9px;
    margin-left:9px;
}
.fight .date_fight{
    font-size:12px;
    color:#6f686e;
    margin-top:15px;
}
.name_fight li{
    padding:20px;
    display:inline-block;
    width:58px;
}
.name_fight ul{
    text-align: center;
}
.tab{
    margin-top:15px;
    border-bottom:1px solid #201c3a;
    font-size:13px;
}
#match{
    width:100%;
    font-size:12px;
}
.margin_match{
    margin-top:25px;
    cursor: pointer;
}
#match img{
    width:50px;
    transform: skew(-8deg);
}
#match img[name="img2"]{
    margin-left:22px;
}
.statut{
    width:auto;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 25px;
    transform: skew(-8deg);
    float:right;
    background-color: #201c3a;
}
.date_match{
    float:right;
    color:#6f686e;
    margin-top:10px;
}
.versus{
    position: absolute;
    margin-left: 55px;
    margin-top: -32px;
}
hr{
    color:#201c3a;
    background-color: #201c3a;
    border:0;
    height:1px;
    margin:-0.5em 0;
    padding: 0;
    margin-top:35px;
}
.game{
    margin-top:20px;
}
.game img{
    width:80px;
    transform: skew(-8deg);
    cursor:pointer;
}
.game p{
    position: absolute;
    margin-left: 90px;
    margin-top: -40px;
    text-decoration: underline;
    cursor: pointer;
}

.categorie{
    margin-top: 20px;
}
.categorie p{
    text-decoration: underline;
    cursor: pointer;
    float:right;
    font-size: 13px;
    margin-right:15px;
}


#formplainte, #formcontact{
    display: none;
    position: fixed;
    top: 25%;
    background-color: #27073A;
    width: 50%;
    left: 25%;
    height: 200px;
    color: white;
    z-index: 5;
    border: 13px #511071 solid;
    padding: 20px;
    font-size: 15px;
}
#formplainte textarea, #formcontact textarea{
    width: 85%;
    height: 50px;
    vertical-align: middle; 
}

