.bg-cover-team{    
    background: linear-gradient(0deg, rgba(22, 9, 98, 0.7), rgba(255, 255, 255, 0.2)), url(../img/team.jpg) center no-repeat;
    margin:0;    
    -webkit-background-size: cover; 
    background-size: cover;     
}

.navbar{
	background-color: rgba(8,3,37,0.5) !important;
}

.team-select-ul{
	position:static;
	margin:auto;
	padding:0 35px;
	text-align:center;
}

.team-select-ul li{
	display:inline-block;
	vertical-align: middle;
	padding:0 15px;
}

.team-select-ul .team-select-li-quote{
	width:250px;			
}

.team-select-image{
	width:80px;		
}
.team-select-btn{
	width:150px;	
}
.team-select-li-name{
	width:50px;
}

.team-header-image-wrapper{
	padding-bottom: 15px;
}

.team-header-title{
	margin:0 !important;
	width:100%;
	font-size:45px;
	color:#ffffff;
	display: flex;
	align-items: center;
	justify-content: center;	
	padding:15px 0 !important;
}

.team-select{	
	position:relative;	
	padding:15px !important; 
	margin:35px 15px !important;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.team-select-default{
	/*width:auto;*/
	width:250px;
	background:#ffffff;
	color:#292929;
	text-align:center;
	border: 2px solid transparent;
}

.team-select-default:hover, .team-select-default:focus{
	border: 2px solid #D92B4C;
}

.team-content-wrapper{
	padding:35px;
}

.team-container{
	width:85%;
}

.team-content-row{
	margin:0;	
}

.team-nav-hori-wrapper{
	margin-bottom:25px !important;
	display:flex;
}

.team-select-hori-wrapper{
	position:relative;
	margin-left:45px;
}

.team-select-hori{
	margin:0;
}

.team-select-hori-label{
	color:#ffffff;
	position:absolute;
	top:-30px;
}

.team-resultat{
	padding:20px 25px;
	transform: skew(-8deg);
	position:relative;
}

.team-header-ranking-wrapper{
	margin:0 10px;
	width:200px;
}

.team-header-left{
	padding:0 15px;
}

.team-header-right{
	padding:0 15px;
}

.team-header-left-sub{
	padding:20px 0 10px 0;
}

