html{
    height:100%;
}

body{
    width:100%;
    padding:0;
    margin:0;
    font-family: lato, sans-serif;
    position: relative;
}
footer{
    width:100%;
    z-index: 2;
}

.footer {
    padding:25px 0 0 0;
    border-top:1px solid rgba(217,43,76,.4);
}
.footer_wrap {
    max-width:800px;
    width: 100%;
    margin:0 auto;
    padding:0 0 50px 0;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    flex-shrink: 2;
}
.footer .footer_content {
    color:#7c7c7c;
}
.footer .footer_content .footer_title {
    font-family:Arial, Helvetica, sans-serif; 
    color:#fff; 
    font-size:24px; 
    padding:0 0 18px 0; 
    display:block;
}
.footer .footer_content .footer_title a {
    color:#fff;
}
.footer .footer_content .footer_title a:hover {
    text-decoration:none;
}
.footer .footer_content a {
    color:#7c7c7c;
}
.footer .footer_content ul {
    list-style:none;
}
.footer .footer_content ul li {
    padding:5px 0 5px 10px; 
    no-repeat: left;
}
.footer .footer_content ul li a:hover {
    color:#d92b4c; 
    text-decoration:none;
}
.copy {
    font-size:13px;
}
.copy .copy_wrap {
    margin:0 auto; 
    text-align:center; 
    padding:28px 0;
}
.copy a {
    color:#ddd;
}
.copy a:hover{
    color:#d92b4c; 
}

.form-title{
    font-size: 25px;
    font-weight: 800;
    vertical-align: middle;
    padding:0 10px;
}

.form-title-wrapper{
    margin: 5px 0 20px 0;
}

#wrapperAdmin{
    display: none;
    position: fixed;
    top: 25%;
    background-color: #27073A;
    width: 50%;
    left: 25%;
    height: 200px;
    color: white;
    z-index: 5;
    border: 13px #511071 solid;
    padding: 20px;
    font-size: 15px;
}

#wrapperAdmin textarea{
    width: 85%;
    height: 50px;
    vertical-align: middle; 
}


header{
    display:table;
    width:100%;
    height:auto;
    position:fixed;
    z-index:999;
    top:0;
    border-bottom: 1px solid white;  
}

@media screen and (min-width: 931px){
    .hide{
        display:none;
    }
    .logo{
        margin-top:20px;
    }
}
@media screen and (max-width: 930px){
    #menu ul li{
        display:none;
    }
    #symbol{
        position:fixed;
        z-index:3;
        width:100px;
        text-align: center;
    }
    .symbol{
        color:white;
        font-size: 30px;
    }
    .logo{
        margin-top:0px;
    }
    #inscription_rapide{
        margin-right:20px;
    }

}
@media screen and (max-width:480px) {
    #slider{
        display:none;
    }
}
#logo{
    width:100px;
    margin:0 auto;
}
.logo{
	position:fixed;
	z-index:3;
}

#menu{
    width:100%;
    background-color: #0a0019;
    text-align: center;
    height:auto;
    z-index:2;
}

#menu2{
    text-align: center;
    z-index:2;
    padding-top:20px;
    min-height:30px;
    display:none;
}

#menu ul {
    margin:0;
    padding:0;
    list-style-type:none;
    text-align:center;
    display:inline-block;
   	height:41px;
}
#menu li {
    float:left;
    margin:auto;
    padding:0;
    background-color:#0a0019;
}
#menu li a {
    display:block;
    width:100px;
    color:white;
    text-decoration:none;
    padding:15px;
    text-transform: uppercase;
    font-family: 'helvetica';
    color:#bfbdbd;
    font-size: 14px;
    position: relative;
    height:15px;

}


#menu li a:hover, #menu2 li a:hover {
    color:#fff;
}
#menu ul li ul {
    display:none;
}
#menu ul li:hover ul {
    display:block;
}
#menu li:hover ul li {
    float:none;
}
#menu li ul {
    position:absolute;
}

@media screen and (min-width: 981px){
    .hide{
        display:none;
    }
    .logo{
        margin-top:20px;
    }
}


@media screen and (max-width: 980px){
#menu_icon{cursor:pointer;}
#menu ul{float:left;}
#menu{display:none;}
#menu2{display:block;width:150px;}
#menu2  ul {
    list-style-type:none;
    text-align:left;
    width:150px;
    display:none;
    background-color: #0a0019;
        }
#menu2 > ul > li {width:100px;}
#menu2 > ul > li a{
display:block;
    width:100px;
    color:white;
    text-decoration:none;
    padding:15px;
    text-transform: uppercase;
    font-family: 'helvetica';
    color:#bfbdbd;
    font-size: 14px;
    position: relative;
    height:15px;

}
#menu2 > ul > li > ul{display:none;}
#menu2 > ul > li:hover > ul{
    display:block;
    margin-left:100px;
    position:absolute;
    margin-top:-45px;
    background-color:#0a0019;
    }

    #symbol{
        position:fixed;
        z-index:3;
        width:100px;
        text-align: center;
    }
    .symbol{
        color:white;
        font-size: 30px;
    }
    .logo{
        margin-top:0px;
    }
    #inscription_rapide{
        margin-right:150px;
    }

}
@media screen and (max-width:480px) {
    #slider{
        display:none;
    }
}

.index-modal-login,
.index-modal-popup{
    width:100%;
    height:100%;
    position:fixed;
    z-index:100000000000;
    opacity:1;
}
.index-modal-popup{
    top: 0;
    left: 0;
    background-color:rgba(8,3,37,.85);
}
.index-popup-msg .border-full{
    padding: 50px 10px 50px 10px;
    background-color:rgba(8,3,37,1);
}

#section_inscrip{
    background-color:rgba(8,3,37,.4);
}

.form-bg-active{
    background:rgba(38, 36, 71, 0.71) none repeat scroll 0% 0%;
}

.index-form-submit{
    margin:25px 0 0 0;
}

.index-input-default-date{
    margin-left:10px;
}

.inscription_rapide{
    background-color:rgba(8,3,37,1);
    border-radius: 5px;
    color:white;
    padding: 30px;
    font-family: Roboto !important;
    font-size: 13px;
}
 
.barre-cookie {
    width: 100%;
    height:30px;
    background:#2e1b27;
    padding:8px 0;
    text-align: center;
    font-size:11px;
    position: fixed;
    bottom:0;
    z-index:3;
}
.barre-cookie a{
    text-decoration: underline;
}
.barre-cookie a:hover{
    text-decoration: none;
    color:#d92b4c;

}
.accepter{
    margin-top:5px;
    cursor: pointer;
    margin:1px solid white;
}
.accepter:hover {
    color:#d92b4c;
}