#content{
	min-height: 480px;
}

.tournamentslist-tournoi-element .btn{
	max-width: 180px;
	margin-top: 5px;
}
.tournamentslist-bigdiv-title{
	margin-top: 20px;
}
section.tournamentslist-tournoi-owner{
	padding: 20px 0;
	/*background: linear-gradient( to right, rgb(8,3,37), #D92B4C);*/
}
.tournamentslist-tournoi-element{
	border-top: 2px solid #ccc;
	margin-top: 10px;
}
section.tournamentslist-tournoi-owner > h3{
	word-spacing: 5px;
	letter-spacing: 2px;
}

section.tournamentslist-tournoi{
	padding: 20px 0;
	background: linear-gradient( to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, .1));
}


.tournamentslist-number-fetched-tournaments{
	margin-top: 15px;
}
.tournamentslist-number-fetched-tournaments-accesible{
	margin-top: 5px;
}
.tournamentslist-number-fetched-tournaments-accesible-none{
	padding: 5px;
}

.tournamentslist-tournoi-element{
	margin-top: 10px;
	max-width: 450px;
	padding: 15px 5px; 
	height: 250px;
}
.tournamentslist-tournoi-element aside{
	width: 47.5%;
	max-width: 175px;
	max-height: 225px;
}
.tournamentslist-tournoi-element aside img{
	margin-top: 5px;
	border-radius: 100%;
	border: 2px solid #ccc;
	max-height: 175px
}
.tournamentslist-tournoi-element aside figcaption{
	margin-top: 5px;
}
.tournamentslist-tournoi-element article{
	flex-direction: column-reverse;
	max-width: 275px;
}
.tournamentslist-p-over-statement{
	padding: 5px;
	font-weight: 700;
}
p.tournamentslist-left-places{
	padding: 5px;
}