@media screen and (max-width: 1035px) {	
	header{
		position: fixed;
		z-index: 99999;
		top: 0;
	}
	header .logo{
	    width: 25vh;
	    height: 11.956vh;
	}
	header nav > ul{
		margin-top: -6vh;
	}
	#header-session{
	    padding: 1vh;
	    right: 1vh;
	    border-bottom: 0.3vh solid white;
	    border-left: 0.3vh solid white;
	}
	#header-session .btn{
	    padding:1vh;
	}
	.tournoi-choix-jeu{
		margin-top: 14vh;
	}
}

@media screen and (max-width: 950px) {
	header .logo{
	    width: 10vh;
	    height: 10h;
	    background: url('../img/arriere_plan.png') center top no-repeat ;
	    background-size: auto 100%;
	}
	.container-choix-jeu-arrow-left,
	.container-choix-jeu-arrow-right{
		display: none;
	}
	.container-choix-jeu{
		flex-wrap: wrap;
		margin-top: 2vh;
	}
	.choix-jeu{
		margin: 2vh 4vh 2vh 4vh;
	}
	.tournoi-choix-jeu{
		margin-top: 12vh;
	}
}

@media screen and (max-width: 840px) {
	header .tablette-only{
		display: inline-block;
		vertical-align: middle;
	}
	header{
		line-height: 5vh;
		padding: 0;
		text-align: center;
	}
	header *{
		margin: 0 auto;
		padding: 0;
	}
	#header-session{
	    padding: 0 2vh 0 2vh;
	    margin: 0;
	    border: none;
	    display: inline-block;
	    vertical-align: middle;
	    right: 0;
	}
	#header-session .btn{
	    padding:1vh;
	}
	header nav{
		display: none;
	}
	header nav > ul{
		vertical-align: middle;
		height: 100%;
		float: none;
		display: inline-block;
	}
	header nav li.relative ul{
		top: calc(59%);
	}
	header .logo{
	    display: none;
	}
	.tournoi-choix-jeu{
		margin-top: 6vh;
	}
	.prochains-tournois-tries table td:nth-child(2), 
	.prochains-tournois-tries table th:nth-child(2){
		display: none;
	}
}