@font-face {
  font-family: 'symbols-html';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
body{
	background-color: inherit;
	padding: 0;
	margin: 0;
}
body > *{
	width: 100%;
	margin: auto;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
	border: 1px solid #000;
}
thead {
	display: table-header-group;
}
a{
	cursor: pointer;
}
.absolute{
	position: absolute;
}
.relative{
	position: relative;
}
.ta-center{
	text-align: center;
}
.max-container{	
	width: 100%;
	max-width: 125vh;
	margin: 0 auto;
	/*border-top: 0.4vh solid #dec;*/
	/*border-bottom: 0.4vh solid #dec;*/
	overflow: hidden;
}
.bande-titre{	
	font-family: Poster Sans Outline;
	font-size: 3vh;
	display: block;
	background: #000;
	color: #fff;
	z-index: 0;
	line-height: 4vh;
}
.tournoi-separator{
	width: 100%;
	margin: 0 auto;
	margin-top: 4vh;
	margin-bottom: 4vh;
	padding: 0;
	display: block;
	text-align: center;
}
.tournoi-separator div{
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	background: #000;
}
.tournoi-separator .line-sep{
	width: 90%;
	max-width: 15vh;
	height: 0.4vh;
	border-radius: 2vh;
}
.tournoi-separator .point-sep{
	width: 0.6vh; 
	height: 0.8vh;
	border-radius: 100%;
}
.changer-choix-container{
	width: 100%;
	margin: 0 auto;
	/*border-top: 0.2vh solid #ccc;*/
}
.changer-choix-container ul{
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	/*background: #333333;*/
}
.changer-choix-container ul li{
	margin: 0;
	padding: 0;
	color: #fff;
	background: inherit;
	border-collapse: collapse;
	border-left: 0.2vh solid #ccc;
	border-right: 0.2vh solid #ccc;
	transition: background .2s linear;
	background: #333333;
}
.changer-choix-container ul li:first-child{
	border-radius: 0 0 0 0.0vh;
}
.changer-choix-container ul li:last-child{
	border-radius: 0 0 0.0vh 0;
}
.changer-choix-container .choix-actif{
	background: #ccc;
}
.changer-choix-container ul li a{
	width: 100%;
	height: 100%;
	padding: 0 4vh 0vh 4vh;
	line-height: 2.5vh;
	font-size: 1.65vh;
}
.changer-choix-container ul li:hover{
	background: #ccc;
}
