
.choix-jeu{
	min-width: 25vh;
	max-width: 25vh;
	height: 30vh;
	padding: 0;
	margin: 0 4vh 0 4vh;
	transition: all .2s ease-in-out;
	background-size: auto 100%;
	background-position: center center;
	background-repeat: no-repeat;
	-moz-box-shadow: inset 0px 0px 10px 0px #ccc;
	-webkit-box-shadow: inset 0px 0px 10px 0px #ccc;
	-o-box-shadow: inset 0px 0px 10px 0px #ccc;
	box-shadow: inset 0px 0px 10px 0px #ccc;
	border-radius: 0.4vh;
	opacity: 0.5;
}
.choix-jeu:hover{
	opacity: 0.9;	
	-moz-box-shadow: inset 0px 0px 2vh 0px #ccc;
	-webkit-box-shadow: inset 0px 0px 2vh 0px #ccc;
	-o-box-shadow: inset 0px 0px 2vh 0px #ccc;
	box-shadow: inset 0px 0px 2vh 0px #ccc;
}
.choix-jeu-actif{
	-moz-box-shadow: inset 0px 0px 2vh 0px #ccc;
	-webkit-box-shadow: inset 0px 0px 2vh 0px #ccc;
	-o-box-shadow: inset 0px 0px 2vh 0px #ccc;
	box-shadow: inset 0px 0px 2vh 0px #ccc;
}
.choix-jeu .btn-container{
	width: 100%;height: 100%;
	background: transparent;
}
.choix-jeu button{
	opacity: 0;
	transition: opacity .2s ease-in-out;
	color: #000;
	font-size: 4vh;
	cursor: pointer;
	border-radius: 100%;
	background: white;
	height: 4vh; width: 4vh;
}
.choix-jeu button span{
	width: 100%;height: 100%;
	background-size: 50% 50%;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 100%;
	top: 0; left: 0;
	transition: background .1s ease-in-out;	
}
.choix-jeu button span:hover{
	background-size: 60% 60%;
}
.choix-jeu > .btn-container > button:hover{
	opacity: 0.9;
}
.choix-jeu .btn-container .fight-btn{
	top: calc(35% - 2vh);
	left: calc(30% - 2vh);
}
.choix-jeu .btn-container .fight-btn span{
	background-image: url('../img/trophee.ico');
}
.choix-jeu .btn-container .love-btn{
	top: calc(35% - 2vh);
	left: calc(70% - 2vh);
}
.choix-jeu .btn-container .love-btn span{
	background-image: url('../img/love-icon.jpg');
}
.choix-jeu .btn-container .search-btn{
	top: calc(50% - 2vh);
	left: calc(50% - 2vh);
}
.choix-jeu .btn-container .search-btn span{
	background-image: url('../img/search-icon.png');
}
.choix-jeu:hover button{
	opacity: 0.5;
}
.choix-jeu h4{
	display: inline-block;
	vertical-align: middle;
	font-weight: 900;
	font-size: 3vh;
	display: none;
}
.hover-title-only{
	top: -20%;
	left: 0;
	opacity: 0;
	z-index: -10;
	width: 100%;	
	position: absolute;
	transition: all .3s ease-in-out;
	text-align: center;
	background: rgba(8, 8, 8, 0.1);
	transform: scale(0.5, 0.5);
}
.hover-title-only p{
	font-size: 3vh;
	display: inline-block;
	margin: auto;
	color: white;
	/*font-family:  Big Noodle Titling;*/
	/*font-family: Poster Sans Outline;*/
	font-family: Sheldrake JNL;
	line-height: 4vh;
}
.hover-desc-only{
	width: 85%; 
	height: 4vh;
	line-height: 4vh;
	top: calc(50% - 2vh);
	left: 7.5%;
	background: rgba(8, 8, 8, 0.5);
	z-index: 99;
	padding:0;
	transition: all .2s ease-in-out;
}
.hover-desc-only p{
	font-size: 2vh;
	display: inline-block;
	margin: 0 auto;
	padding:0;
	color: white;
	font-family: Sheldrake JNL;
}
.choix-jeu:hover > .hover-title-only{
	opacity: 1;
	z-index: 3;
	transform: scale(1, 1);
}
.choix-jeu:hover .hover-desc-only{
	width: 100%; 
	top: 0;
	left: 0;
	background: rgba(8, 8, 8, 1);
	border-radius: 0.6vh 0.6vh 0 0;
}
.choix-jeu-bf3{
	background-image: url('../img/bf3-bg.jpg');
}
.choix-jeu-ssb{
	background-image: url('../img/ssb-bg.jpg');
}
.choix-jeu-lol{
	background-image: url('../img/lol-bg.jpg');
}
.choix-jeu-css{
	background-image: url('../img/css-bg.png');
}

